body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Happy Monkey', sans-serif;;
    background-color: #a2d2ff;
    background: linear-gradient(skyblue, pink);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1, h2, h3, h4, p  {
    text-shadow: 0px 0px 1px black;
}

#myhead {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #EFB0C9;   
}

#bday-age {
    background: #EFB0C9;
    border-radius: 4px;
    padding: 5px 10px;
    margin-top: 9px;
    margin-bottom: 5px;
}

#bday-date {
    background: #EFB0C9;   
    border-radius: 4px;
    padding: 8px;
    margin-top: 5px;

}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 15px; 
    margin-top: 15px;
}

.gift-hint {
    margin-top: 0;
}


.gift-image {
    margin: 0 auto;
    border: 5px solid white;
    border-radius: 8px;
    width: 400px;
    height: 400px;
    background-image: url(images/gift-cover.jpg);
    background-size: cover; 
}

.gift-image:hover {
    background-image: url(images/happy.gif);
}

#gift-image-hot:hover {
    background-image: url(images/hot.gif);
}

#gift-image-genius:hover {
    background-image: url(images/genius.gif);
}

#gift-image-badass:hover {
    background-image: url(images/badass.gif);
}

#gift-image-cheers {

    height: 200px;
}

#gift-image-cheers:hover {
    background-image: url(images/cheers.gif);
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: #ffffff;
}
